body{
    background: #F6F8F9;;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.header-box{
    height: 50px;
    background-color: #F6F8F9;
}
.nav-a{
    float: left;
    font-size: 13px;
    padding: 19px;
    color: #FA6980;
}
.header-logo{
    float: right;
    margin: 10px 20px 10px;
}
.nav-ul{
	display: flex;
    float: right;
}
.nav-li{
    margin-right: 7px; 
    padding: 19px;
}
li:nth-child(1) a{
    opacity: 1;
}
.nav-b {
    opacity: 50%;
    color: #343638;
    font-size: 11px;
    text-transform: uppercase;
}
/* starts mainPhoto  */
.flex {
    display: flex;
}
/* section1 */
.section1 {
    margin-bottom: 40px;
}

.section1-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/* left main block */

.section1-left-block {
    max-width: 840px;
    width: 100%;
    position: relative;
}

.banner-img {
    max-width: 840px;
    width: 100%;
}

.section1-titles-on-img {
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section1-titles-on-img h2 {
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.white-line {
    max-width: 560px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    margin-bottom: 40px;
}

.amazing-places-title {
    color: #FFFFFF;
    font-size: 24px;
}
.section1-titles-on-img p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0px 30px 0px;
}

.sec1-learn-more {
    width: 134px;
    height: 40px;
    background: #FA6980;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #FFFFFF;
    border-radius: 10px;
}

/* right description block */

.section1-right-block {
    max-width: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.right-block-titles {
    max-width: 380px;
    width: 100%;
}

.section1-more-news {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 2px solid #DFDFDF;
}
.travel-title {
    text-transform: uppercase;
    color: #FA6980;
    margin-bottom: 20px;
}
.article-title {
    color: #202124;
    margin-bottom: 10px;
}
.lorem1 {
    color: #A6ADB4;
    margin-bottom: 10px;
}

.clock-block {
    color: #A6ADB4;
}

.clock-title {
    margin-left: 10px;
}

.travel-block-margin {
    margin-top: 40px;
}
/* section2 */
.section2 {
    margin-bottom: 40px;
}

.section2-container {
    width: 1160px;
    margin: 0 auto;
}

.section2-horizontal {
    width: 100%;
}

.section2-left-block {
    width: 360px;
    background: #FFFFFF;
}

.section2-trending-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.lake-img {
    margin-bottom: 40px;
}

.clock-block-margin {
    padding-bottom: 40px;
}

.section2-titles {
    margin-left: 40px;
}

.section2-margin {
    margin: 0px 40px 0px 40px;
}

/* section3 */
.section3 {
    margin-bottom: 100px;
}

.section3-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.section3-container-wraper {
    width: 100%;
}

.section3-left-block {
    max-width: 760px;
    width: 100%;
    margin-right: 40px;
}
.section3-left-top-block {
    position: relative;
}

.city-title {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.section3-block-on-image {
    width: 680px;
    height: 102px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.lorem-color {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.margin-from-top-block {
    margin-bottom: 40px;
}

.section3-right-block {
    width: 100%;
}

/* section3 right block */

.elephant-img {
    margin-bottom: 20px;
}
.section3-right-blocks-margin {
    margin: 40px 0px 40px 0px;
}
/* footer */

.footer-container {
    width: 100%;
    height: 200px;
    background: #A6ADB4;
    align-items: center;
    justify-content: space-around;
}
.footer-left-block {
    width: 400px;
    height: 84px;
    justify-content: space-between;
}

.footer-logo-title {
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-links-left{
    flex-direction: column;
    justify-content: space-between;
}
.footer-links-left a{
    color: #CBD0D3;
}
.footer-middle-block {
    width: 262px;
}
.footer-middle-block input{
    width: 100%;
    height: 40px;
    background: #A6ADB4;
    border: 2px solid  #CBD0D3;
    border-radius: 5px;
}

.footer-middle-block input::placeholder {
    color: #CBD0D3;
}

.footer-middle-block form {
    margin-bottom: 16px;
    position: relative;
}
.footer-middle-block input:focus {
    outline: none;
    color: white;
}
.title-under-form {
    color: #CBD0D3;
    font-size: 11px;
}
.fa-paper-plane {
    color: #CBD0D3;
    position: absolute;
    top: 12px;
    right: 19px;
}
.footer-right-block  {
    width: 160px;
    justify-content: space-between;
    font-size: 20px;
}

.footer-right-block a {
    color: #FFFFFF;
}