@media (max-width: 1119px) {
    .footer-container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer-icons{
        margin: 20px auto;
    }

    .footer-nav{
        width: 100%;
    }

    .footer-logo{
        width: 50%;
    }

    .footer-form{
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #main-section{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .world-container{
        width: 100%;
    }

    .world-news{
        max-width: 608px;
        width: 90%;
    }

    .world-header{
        margin-bottom: 66px;
    }

    .world-header::after{
        height: 0;
    }

    .more-news{
        padding-top: 40px;
        max-width: 608px;
    }

    .more-container{
        max-width: 608px;
        width: 100%;
    }

    .articles{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .article-2{
        margin-left: 40px;
        margin-bottom: 80px;
        margin-top: 0;
    }

    .trending-container{
        max-width: 608px;
        width: 90%;
    }

    .card-3{
        display: none;
    }

    .card{
        width: 47%;
    }

    .all-articles{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .large-articles{
        width: 100%;
    }

    .happening-container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 608px;
        width: 90%;
    }

    .small-article-3{
        display: none;
    }

    .small-articles{
        margin-top: 40px;
        max-width: 100%;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 80px;
    }

    .small-article{
        width: 47%;
    }
    .footer-form{
        margin-top: 50px;
        margin-bottom: 135px;
    }
    .icons-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        max-width: 200px;
        margin-bottom: 135px;
    }
}

@media (max-width: 540px){
    .logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        width: 55%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #footer{
        display: none;
    }

    .logo a{
        font-size: 17px;
    }

    .burger-bar{
        display: block !important;
        cursor: pointer;
        font-size: 20px;
    }

    .redhead-img{
        width: 30px !important;
        height: 30px !important;
    }

    .navigation{
        background-color: #F6F8F9;
        height: 55vh;
        position: absolute;
        left: 0;
        width: 80%;
        top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }

    .navigation, .mobile-footer {
        box-shadow:0 4px 8px rgba(0, 0, 0, 0.1),
    }

    .mobile-footer{
        display: block;
        height: 40vh;
        position: absolute;
        top: 55vh;
        font-size: 12px;
        width: 100%;
    }

    .nav-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 50%;
        width: 100%;
        margin-left: 50px;
    }

    .list-items{
        width: 50%;
    }
    
    .list-items a{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .added{
        display: block !important;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .added-icon{
        width: 50%;
        font-size: 20px;
    }

    .li-span{
        width: 50%;
        font-size: 15px;
    }

    .added-icon:hover{
        color: black;
    }

    .li-span:hover{
        color: black;
    }
    
    .added-img{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 50% !important;
    }

    .added-img a{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .resp-img{
        widows: 50%;
        text-align: left;
    }

    .added-redhead{
        margin-left: 0 !important;
    }

    .added-icon::before{
        margin-left: 5px;
    }
    
    .footer-logo{
        display: none;
    }

    .nav-col-1{
        display: none;
    }

    .nav-col p{
        margin-bottom: 30px;
    }

    .footer-form{
        display: none;
    }

    .icons-container{
        margin-left: 57px;
    }
}

@media (max-width: 375px){

    .world-container{
        height: 388px;
        padding: 40px 0;
    }

    .world-header{
        margin-bottom: 40px;
    }

    .world-header::after{
        height: 2px;
    }

    .world-header-2{
        margin-bottom: 20px;
    }

    .more-news{
        padding-bottom: 40px;
    }

    .articles{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .article-2{
        margin: 0;
        margin-top: 40px !important;
    }

    .cards{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card{
        width: 100%;
    }

    .card-3{
        margin-top: 40px;
    }

    .large-article{
        height: 300px;
    }

    .small-articles{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .small-article-1::before{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #EBEDED;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .small-article{
        width: 100%;
        margin-bottom: 40px;
    }

    .small-article-3{
        display: block;
    }
}